name: ~build Rosetta container

on:
  workflow_call:
    inputs:
      ARCHITECTURE:
        type: string
        description: 'CPU architecture to build the image for, e.g. amd64, arm64'
        required: true
      BASE_LIBRARY:
        type: string
        description: 'Choice of base library to build on:'
        required: false
        default: t5x
      BASE_IMAGE:
        type: string
        description: 'Base docker image that provides the foundation library'
        required: false
      BUILD_DATE:
        type: string
        description: "Build date in YYYY-MM-DD format"
        required: false
        default: 'NOT SPECIFIED'
      ARTIFACT_NAME:
        type: string
        description: 'Name of the artifact zip file'
        required: false
        default: 'artifact-rosetta-build'
      BADGE_FILENAME:
        type: string
        description: 'Name of the endpoint JSON file for shields.io badge (w/o .json || arch || library)'
        required: false
        default: 'badge-rosetta-build'
    outputs:
      DOCKER_TAG_MEALKIT:
        description: "Tags of the 'mealkit' image built"
        value: ${{ jobs.build-rosetta.outputs.DOCKER_TAG_MEALKIT }}
      DOCKER_TAG_FINAL:
        description: "Tags of the complete image built"
        value: ${{ jobs.build-rosetta.outputs.DOCKER_TAG_FINAL }}

env:
  UPLD_IMAGE: ghcr.io/nvidia/jax-toolbox-internal
  DOCKER_REGISTRY: ghcr.io/nvidia

permissions:
  contents: read  # to fetch code
  actions:  write # to cancel previous workflows
  packages: write # to upload container

jobs:

  build-rosetta:
    runs-on: [self-hosted, "${{ inputs.ARCHITECTURE }}", small]
    env:
      BADGE_FILENAME_FULL: ${{ inputs.BADGE_FILENAME }}-${{ inputs.BASE_LIBRARY }}-${{ inputs.ARCHITECTURE }}.json
      ARTIFACT_NAME_FULL: ${{ inputs.ARTIFACT_NAME}}-${{ inputs.BASE_LIBRARY }}-${{ inputs.ARCHITECTURE }}
    outputs:
      DOCKER_TAG_MEALKIT: ${{ steps.mealkit-metadata.outputs.tags }}
      DOCKER_TAG_FINAL: ${{ steps.final-metadata.outputs.tags }}
    steps:
      - name: Set default BASE_IMAGE
        id: defaults
        run: |
          if [[ -n "${{ inputs.BASE_IMAGE }}" ]]; then
            echo "BASE_IMAGE=${{ inputs.BASE_IMAGE }}" >> "$GITHUB_OUTPUT"
          else
            echo "BASE_IMAGE=${{ env.DOCKER_REGISTRY }}/upstream-${{ inputs.BASE_LIBRARY }}:latest" >> "$GITHUB_OUTPUT"
          fi

      - name: Print environment variables
        run: env

      - name: Check out the repository under ${GITHUB_WORKSPACE}
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: |
            image=moby/buildkit:v0.12.1

      - name: Set docker metadata - mealkit
        id: mealkit-metadata
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.UPLD_IMAGE }}
          flavor: |
            latest=false
          tags: |
            type=raw,value=${{ github.run_id }}-${{ inputs.BASE_LIBRARY }}-${{ inputs.ARCHITECTURE }}-mealkit
          labels:
            org.opencontainers.image.created=${{ inputs.BUILD_DATE }}

      - name: Build mealkit image
        uses: docker/build-push-action@v4
        with:
          context: rosetta/
          push: true
          file: rosetta/Dockerfile.${{ inputs.BASE_LIBRARY }}
          platforms: linux/${{ inputs.ARCHITECTURE }}
          tags: ${{ steps.mealkit-metadata.outputs.tags }}
          labels: ${{ steps.mealkit-metadata.outputs.labels }}
          target: mealkit
          build-args: |
            BASE_IMAGE=${{ steps.defaults.outputs.BASE_IMAGE }}

      - name: Set docker metadata - final
        id: final-metadata
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.UPLD_IMAGE }}
          flavor: |
            latest=false
          tags: |
            type=raw,value=${{ github.run_id }}-${{ inputs.BASE_LIBRARY }}-${{ inputs.ARCHITECTURE }}
          labels:
            org.opencontainers.image.created=${{ inputs.BUILD_DATE }}

      - name: Build final image
        id: final-build
        uses: docker/build-push-action@v4
        with:
          context: rosetta/
          push: true
          file: rosetta/Dockerfile.${{ inputs.BASE_LIBRARY }}
          platforms: linux/${{ inputs.ARCHITECTURE }}
          tags: ${{ steps.final-metadata.outputs.tags }}
          labels: ${{ steps.final-metadata.outputs.labels }}
          target: final
          build-args: |
            BASE_IMAGE=${{ steps.defaults.outputs.BASE_IMAGE }}

      - name: Extract patches
        run: rosetta/scripts/extract-patches.sh ${{ steps.final-metadata.outputs.tags }}

      - name: Archive generated patches
        uses: actions/upload-artifact@v3
        with:
          name: patches-${{ inputs.BASE_LIBRARY }}-${{ github.run_id }}-${{ inputs.BUILD_DATE }}-${{ inputs.ARCHITECTURE }}
          path: rosetta/patches

      - name: Generate sitrep
        if: success() || failure()
        shell: bash -x -e {0}
        run: |
          # bring in utility functions
          source .github/workflows/scripts/to_json.sh

          badge_label='${{ inputs.BASE_LIBRARY }} ${{ inputs.ARCHITECTURE }} build'
          tags="${{ steps.final-metadata.outputs.tags }}"
          digest="${{ steps.final-build.outputs.digest }}"
          outcome="${{ steps.final-build.outcome }}"

          if [[ ${outcome} == "success" ]]; then
            badge_message="pass"
            badge_color=brightgreen
            summary="${{ inputs.BASE_LIBRARY }} build on ${{ inputs.ARCHITECTURE }}: $badge_message"
          else
            badge_message="fail"
            badge_color=red
            summary="${{ inputs.BASE_LIBRARY }} build on ${{ inputs.ARCHITECTURE }}: $badge_message"
          fi

          to_json \
            summary \
            badge_label tags digest outcome \
          > sitrep.json

          schemaVersion=1 \
          label="${badge_label}" \
          message="${badge_message}" \
          color="${badge_color}" \
          to_json schemaVersion label message color \
          > ${{ env.BADGE_FILENAME_FULL }}

      - name: Upload sitrep and badge
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT_NAME_FULL }}
          path: |
            sitrep.json
            ${{ env.BADGE_FILENAME_FULL }}
