name: ~build T5X container

on:
  workflow_call:
    inputs:
      ARCHITECTURE:
        type: string
        description: 'CPU architecture to build the image for, e.g. amd64, arm64'
        required: true
      BASE_IMAGE:
        type: string
        description: 'Base docker image that provides JAX'
        required: false
        default: ghcr.io/nvidia/jax:latest
      BUILD_DATE:
        type: string
        description: "Build date in YYYY-MM-DD format"
        required: false
        default: 'NOT SPECIFIED'
      REPO_T5X:
        type: string
        description: URL of T5X repository to check out
        required: false
        default: "https://github.com/google-research/t5x.git"
      REF_T5X:
        type: string
        description: Git commit, tag, or branch for T5X
        required: false
        default: main
      REPO_TE:
        type: string
        description: URL of TE repository to check out
        required: false
        default: "https://github.com/NVIDIA/TransformerEngine.git"
      REF_TE:
        type: string
        description: Git commit, tag, or branch for TE
        required: false
        default: main
      ARTIFACT_NAME:
        type: string
        description: 'Name of the artifact zip file'
        required: false
        default: 'artifact-t5x-build'
      BADGE_FILENAME:
        type: string
        description: 'Name of the endpoint JSON file for shields.io badge'
        required: false
        default: 'badge-t5x-build'
    outputs:
      DOCKER_TAG_FINAL:
        description: "Tags of the complete image built"
        value: ${{ jobs.build.outputs.DOCKER_TAG_FINAL }}
      DOCKER_TAG_STAGING:
        description: "Tags of the 'staging' image built"
        value: ${{ jobs.build.outputs.DOCKER_TAG_STAGING }}

env:
  UPLD_IMAGE: ghcr.io/nvidia/jax-toolbox-internal

permissions:
  contents: read  # to fetch code
  actions:  write # to cancel previous workflows
  packages: write # to upload container

jobs:

  build:
    runs-on: [self-hosted, "${{ inputs.ARCHITECTURE }}", small]
    env:
      BADGE_FILENAME_FULL: ${{ inputs.BADGE_FILENAME }}-${{ inputs.ARCHITECTURE }}.json
    outputs:
      DOCKER_TAG_FINAL: ${{ steps.meta-staging.outputs.tags }}
      DOCKER_TAG_STAGING: ${{ steps.meta-final.outputs.tags }}
    steps:
      - name: Print environment variables
        run: env

      - name: Check out the repository under ${GITHUB_WORKSPACE}
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: |
            image=moby/buildkit:v0.12.1

      - name: Set docker metadata - staging
        id: meta-staging
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.UPLD_IMAGE }}
          flavor: |
            latest=false
          tags: |
            type=raw,value=${{ github.run_id }}-upstream-t5x-${{ inputs.ARCHITECTURE }}-staging
          labels:
            org.opencontainers.image.created=${{ inputs.BUILD_DATE }}

      - name: Build staging image
        uses: docker/build-push-action@v4
        with:
          context: .github/container
          push: true
          file: .github/container/Dockerfile.t5x
          platforms: linux/${{ inputs.ARCHITECTURE }}
          target: staging
          tags: ${{ steps.meta-staging.outputs.tags }}
          labels: ${{ steps.meta-staging.outputs.labels }}
          build-args: |
            BASE_IMAGE=${{ inputs.BASE_IMAGE }}
            BUILD_DATE=${{ inputs.BUILD_DATE }}
            REPO_T5X=${{ inputs.REPO_T5X }}
            REF_T5X=${{ inputs.REF_T5X }}
            REPO_TE=${{ inputs.REPO_TE }}
            REF_TE=${{ inputs.REF_TE }}

      - name: Set docker metadata - final
        id: meta-final
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.UPLD_IMAGE }}
          flavor: |
            latest=false
          tags: |
            type=raw,value=${{ github.run_id }}-upstream-t5x-${{ inputs.ARCHITECTURE }}
          labels:
            org.opencontainers.image.created=${{ inputs.BUILD_DATE }}

      - name: Build final image
        uses: docker/build-push-action@v4
        with:
          context: .github/container
          push: true
          file: .github/container/Dockerfile.t5x
          platforms: linux/${{ inputs.ARCHITECTURE }}
          tags: ${{ steps.meta-staging.outputs.tags }}
          labels: ${{ steps.meta-staging.outputs.labels }}
          build-args: |
            BASE_IMAGE=${{ inputs.BASE_IMAGE }}
            BUILD_DATE=${{ inputs.BUILD_DATE }}
            REPO_T5X=${{ inputs.REPO_T5X }}
            REF_T5X=${{ inputs.REF_T5X }}
            REPO_TE=${{ inputs.REPO_TE }}
            REF_TE=${{ inputs.REF_TE }}

      - name: Generate sitrep
        if: success() || failure()
        shell: bash -x -e {0}
        run: |
          # bring in utility functions
          source .github/workflows/scripts/to_json.sh

          badge_label='T5X ${{ inputs.ARCHITECTURE }} build'
          tags="${{ steps.meta-final.outputs.tags }}"
          digest="${{ steps.build-final.outputs.digest }}"
          outcome="${{ steps.build-final.outcome }}"

          if [[ ${outcome} == "success" ]]; then
            badge_message="pass"
            badge_color=brightgreen
            summary="T5X build on ${{ inputs.ARCHITECTURE }}: $badge_message"
          else
            badge_message="fail"
            badge_color=red
            summary="T5X build on ${{ inputs.ARCHITECTURE }}: $badge_message"
          fi

          to_json \
            summary \
            badge_label tags digest outcome \
          > sitrep.json

          schemaVersion=1 \
          label="${badge_label}" \
          message="${badge_message}" \
          color="${badge_color}" \
          to_json schemaVersion label message color \
          > ${{ env.BADGE_FILENAME_FULL }}

      - name: Upload sitrep and badge
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.ARTIFACT_NAME }}-${{ inputs.ARCHITECTURE }}
          path: |
            sitrep.json
            ${{ env.BADGE_FILENAME_FULL }}
