name: ~publish t5x integration test results on Tensorboard server

on:
  workflow_call:
    inputs:
      BUILD_DATE:
        type: string
        description: Date of the form YYYY-MM-DD
        required: true
      EXPERIMENT_SUBDIR:
        type: string
        description: Subdirectory to easily filter experiments, e.g., T5X, ROSETTA_T5X
        default: T5X
        required: false

jobs:
  publish-t5x:
    runs-on: ubuntu-22.04
    steps:
      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Setup SSH known hosts
        id: ssh-known-hosts
        run: |
          mkdir -p ~/.ssh
          cat >> ~/.ssh/known_hosts << EOF
          ${{ vars.SSH_KNOWN_HOSTS }}
          EOF
          chmod 600 ~/.ssh/known_hosts
          echo "FILE=$(realpath ~/.ssh/known_hosts)" >> $GITHUB_OUTPUT

      - name: Setup SSH config
        id: ssh-config
        run: |
          mkdir -p ~/.ssh
          cat >> ~/.ssh/config << EOF
          ${{ vars.SSH_CONFIG }}
          EOF
          chmod 600 ~/.ssh/config

      - name: Create dated folder and generate TensorBoard query URL
        id: mkdir
        shell: bash -x -e {0}
        run: |
          FOLDER="${{ inputs.BUILD_DATE }}/${{ inputs.EXPERIMENT_SUBDIR }}"
          # copy folder
          ssh -T tensorboard mkdir -p /tensorboard-logs/${FOLDER}
          ssh -T tensorboard rsync -rt /tensorboard-logs/${GITHUB_RUN_ID}/ /tensorboard-logs/${FOLDER}/
          # generate query URL
          (
          cat << EOF

          ## ${{ inputs.EXPERIMENT_SUBDIR }} MGMN nightly training: ${{ inputs.BUILD_DATE }}

          [view metrics](https://${{ vars.HOSTNAME_TENSORBOARD }}/#scalars&regexInput=$(jq -nr --arg url "${FOLDER}" '$url|@uri')&_smoothingWeight=0&tagFilter=seqs_per)

          EOF
          ) | tee $GITHUB_STEP_SUMMARY