name: ~create an ephemeral runner using a SLURM job

on:
  workflow_call:
    inputs:
      NAME:
        type: string
        description: 'Name of the runner'
        required: true
      LABELS:
        type: string
        description: 'comma-separated list of runner labels'
        required: true
      TIME:
        type: string
        description: 'SLURM time limit'
        default: '01:00:00'
        required: true

jobs:

  launch:
    runs-on: ubuntu-latest
    steps:
      - name: Print environment variables
        run: env

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Setup SSH known hosts
        id: ssh-known-hosts
        run: |
          mkdir -p ~/.ssh
          cat >> ~/.ssh/known_hosts << EOF
          ${{ vars.SSH_KNOWN_HOSTS }}
          EOF
          chmod 600 ~/.ssh/known_hosts
          echo "FILE=$(realpath ~/.ssh/known_hosts)" >> $GITHUB_OUTPUT

      - name: Labels and metadata
        id: meta
        shell: bash -x -e {0}
        run: |
          JOB_NAME=${{ inputs.NAME }}
          LOG_FILE=/nfs/cluster/${JOB_NAME}.log
          for var in JOB_NAME LOG_FILE; do
            echo "$var=${!var}" >> $GITHUB_OUTPUT
          done

      - name: Submit SLURM jobs over SSH
        id: submit
        shell: bash -O expand_aliases -x -e {0}
        run: |
          alias sshx='ssh -o "ServerAliveInterval 7" ${{ secrets.CLUSTER_LOGIN_USER }}@${{ vars.HOSTNAME_SLURM_LOGIN }}'
          JOB=$(sshx sbatch --parsable << EOF
          #!/bin/bash
          #SBATCH --job-name=${{steps.meta.outputs.JOB_NAME }}
          #SBATCH --exclusive
          #SBATCH --nodes=1
          #SBATCH --tasks=1
          #SBATCH --gpus-per-node=8
          #SBATCH --time="${{ inputs.TIME }}"
          #SBATCH --output=${{ steps.meta.outputs.LOG_FILE }}

          # obtain runner registration token
          RUNNER_TOKEN=$(
            curl \
              -L \
              -X POST \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.RUNNER_REGISTRATION_AUTH_TOKEN }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              https://api.github.com/repos/${{ github.repository }}/actions/runners/registration-token |\
            jq -r '.token'
          )
          echo "::add-mask::${RUNNER_TOKEN}"

          # launch runner
          time docker run \
            --network host \
            --gpus all \
            --privileged \
            -v /runner \
            -e RUNNER_NAME="${{ inputs.NAME }}" \
            -e RUNNER_LABELS="${{ inputs.LABELS }}" \
            -e RUNNER_REPO="${{ github.repository }}" \
            -e RUNNER_TOKEN="${RUNNER_TOKEN}" \
            -e RUNNER_EPHEMERAL=true \
            -e DOCKER_ENABLED=true \
            -e DOCKERD_IN_RUNNER=true \
            ghcr.io/yhtang/actions-runner-dind:ubuntu-22.04  # use personal repo for the time being to avoid auth/cost issues
          EOF
          )
