name: "~Sandbox"

on:
  push:
    # inputs:
    #     BASE_IMAGE:
    #       type: string
    #       description: 'Base docker image that provides CUDA and Python:'
    #       required: false
    #       default: ghcr.io/nvidia/jax-toolbox:base
    #     BUILD_DATE:
    #       type: string
    #       description: "Build date in YYYY-MM-DD format"
    #       required: false
    #       default: 'NOT SPECIFIED'
    #     REPO_JAX:
    #       type: string
    #       description: URL of JAX repository to check out
    #       required: false
    #       default: "https://github.com/google/jax.git"
    #     REF_JAX:
    #       type: string
    #       description: Git commit, tag, or branch for JAX
    #       required: false
    #       default: main
    #     REPO_XLA:
    #       type: string
    #       description: URL of OpenXLA repository to check out
    #       required: false
    #       default: "https://github.com/openxla/xla.git"
    #     REF_XLA:
    #       type: string
    #       description: Git commit, tag, or branch for XLA
    #       required: false
    #       default: main
    #     ARTIFACT_NAME:
    #       type: string
    #       description: 'Name of the artifact zip file'
    #       required: false
    #       default: 'artifact-jax-build'
    #     BADGE_FILENAME:
    #       type: string
    #       description: 'Name of the endpoint JSON file for shields.io badge'
    #       required: false
    #       default: 'badge-jax-build'
    #   outputs:
    #     DOCKER_TAGS:
    #       description: "Tags of the image built"
    #       value: ${{ jobs.merge.outputs.DOCKER_TAGS }}

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        PLATFORM: [amd64, arm64]
    runs-on: [self-hosted, "${{ matrix.PLATFORM }}", small]
    env:
      BADGE_FILENAME_FULL: badge-jax-build-${{ matrix.PLATFORM }}.json
    steps:
      - name: Print environment variables
        run: env

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Setup SSH known hosts
        id: ssh-known-hosts
        run: |
          mkdir -p ~/.ssh
          cat >> ~/.ssh/known_hosts << EOF
          ${{ vars.SSH_KNOWN_HOSTS }}
          EOF
          chmod 600 ~/.ssh/known_hosts
          echo "FILE=$(realpath ~/.ssh/known_hosts)" >> $GITHUB_OUTPUT

      - name: Check out the repository under ${GITHUB_WORKSPACE}
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Set docker metadata
      #   id: meta
      #   uses: docker/metadata-action@v4
      #   with:
      #     images: |
      #       ${{ env.UPLD_IMAGE }}
      #     flavor: |
      #       latest=false
      #     tags: |
      #       type=raw,value=${{ github.run_id }}-jax-${{  matrix.PLATFORM }}
      #     labels:
      #       org.opencontainers.image.created=today

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: |
            image=moby/buildkit:v0.12.1

      - name: Build docker images
        id: build
        uses: docker/build-push-action@v4
        with:
          context: .github/container
          push: true
          file: .github/container/Dockerfile.jax
          platforms: linux/${{ matrix.PLATFORM }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          ssh: default
          secret-files: |
            "SSH_KNOWN_HOSTS=${{ steps.ssh-known-hosts.outputs.FILE }}"
          build-args: |
            BASE_IMAGE=ghcr.io/nvidia/jax-toolbox:base
            BAZEL_CACHE=${{ vars.BAZEL_REMOTE_CACHE_URL }}
            BUILD_DATE=2320-11-08
            REPO_JAX=https://github.com/google/jax.git
            REPO_XLA=https://github.com/openxla/xla.git
            REF_JAX=main
            REF_XLA=main
