name: ~create summary for an entire workflow run

on:
  workflow_call:

jobs:
  action:
    needs: [run-jobs]
    runs-on: ubuntu-22.04
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3

      - name: Write output to step summary
        shell: bash -x -e {0}
        run: |
          find -name "sitrep.json" | while read -s f; do
            cat "$f" | jq -r '.summary' | tee -a $GITHUB_STEP_SUMMARY
          done
