name: ~test JAX, unit

on:
  workflow_call:
    inputs:
      IMAGE:
        type: string
        description: 'Test image built by NVIDIA/JAX-Toolbox'
        required: true
      TEST_NAME:
        type: string
        description: 'Library to run unit tests on SLURM for'
        required: true
      TEST_CMD:
        type: string
        description: 'Test command to run'
        required: false
      TEST_STATISTICS_SCRIPT:
        type: string
        description: 'Script to compile the test statistics to report in badge file'
        required: false
      PATH_TO_ARTIFACTS:
        type: string
        description: 'Test artifacts to collect'
        required: false
      ARTIFACT_NAME:
        type: string
        description: 'Name of the artifact zip file'
        required: false
        default: 'artifact-unit-test'
      BADGE_FILENAME:
        type: string
        description: 'Name of the endpoint JSON file for shields.io badge'
        required: false
        default: 'badge-unit-test'

jobs:
  # runner:
  #   uses: ./.github/workflows/_runner_ondemand_slurm.yaml
  #   with:
  #     NAME: "A100-${{ github.run_id }}"
  #     LABELS: "A100:${{ github.run_id }}"
  #     TIME: "01:00:00"
  #   secrets: inherit

  run-unit-test:
    # strategy:
    #   fail-fast: false
    #   matrix:
    #     GPU_ARCH: [V100, A100]
    ## ensures A100 job lands on dedicated runner for this particular job
    runs-on: ubuntu-22.04 #[self-hosted, "${{ matrix.GPU_ARCH == 'A100' && format('{0}:{1}', matrix.GPU_ARCH, github.run_id) || matrix.GPU_ARCH }}"]
    env:
      BADGE_FILENAME_FULL: ${{ inputs.BADGE_FILENAME }}-${{ matrix.GPU_ARCH }}.json
    steps:
      - name: Print environment variables
        run: env

      # - name: Print GPU information
      #   run: nvidia-smi  

      - name: Check out repository
        uses: actions/checkout@v4

      # - name: Login to GitHub Container Registry
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.repository_owner }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull test image
        shell: bash -x -e {0}
        run: |
          docker pull ${{ inputs.IMAGE }}

      - name: Run tests
        shell: bash -x -e {0}
        # todo: distinguish between test failures and errors
        continue-on-error: true
        run: |
          ${{ inputs.TEST_CMD }}

      - name: Calculate test statistics
        id: test-stats
        shell: bash -x -e {0}
        continue-on-error: true
        run: |
          ${{ inputs.TEST_STATISTICS_SCRIPT }}

      - name: Generate sitrep
        shell: bash -x -e {0}
        run: |
          # bring in utility functions
          source .github/workflows/scripts/to_json.sh

          badge_label='${{ inputs.TEST_NAME }} ${{ matrix.GPU_ARCH }} Unit'

          total_tests=${{ steps.test-stats.outputs.TOTAL_TESTS }}
          errors=${{ steps.test-stats.outputs.ERRORS }}
          failed_tests=${{ steps.test-stats.outputs.FAILED_TESTS }}
          passed_tests=${{ steps.test-stats.outputs.PASSED_TESTS }}
          
          if [[ ${errors} > 0 ]] || [[ ${total_tests} == 0 ]]; then
            badge_message='error'
            badge_color=red
            summary='${{ inputs.TEST_NAME }} unit test on ${{ matrix.GPU_ARCH }} did not complete due to errors.'
          else
            badge_message="${passed_tests}/${total_tests} passed"
            if [[ ${failed_tests} == 0 ]]; then
              badge_color=brightgreen
            else
              badge_color=yellow
            fi
            summary="${{ inputs.TEST_NAME }} unit test on ${{ matrix.GPU_ARCH }}: $badge_message"
          fi

          to_json \
            summary \
            errors total_tests passed_tests failed_tests \
            badge_label badge_color badge_message \
          > sitrep.json

          schemaVersion=1 \
          label="${badge_label}" \
          message="${badge_message}" \
          color="${badge_color}" \
          to_json schemaVersion label message color \
          > ${{ env.BADGE_FILENAME_FULL }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.ARTIFACT_NAME }}-${{ matrix.GPU_ARCH }}
          path: |
            ${{ inputs.PATH_TO_ARTIFACTS }}
