name: ~test JAX, unit

on:
  workflow_call:
    inputs:
      JAX_IMAGE:
        type: string
        description: 'JAX image built by NVIDIA/JAX-Toolbox'
        required: true
        default: 'ghcr.io/nvidia/jax:latest'

jobs:

  unit-test:
    runs-on: [self-hosted, compute, V100]
    steps:
      - name: Print environment variables
        run: env

      - name: Print GPU information
        run: nvidia-smi  

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull JAX image
        shell: bash -x -e {0}
        run: |
          docker pull ${{ inputs.JAX_IMAGE }}

      - name: Backend-independent tests
        shell: bash -x {0}
        run: |
          docker run --gpus all ${{ inputs.JAX_IMAGE }} test-jax.sh -b backend-independent | tee test-backend-independent.log

      - name: GPU-specific tests
        shell: bash -x {0}
        run: |
          docker run --gpus all ${{ inputs.JAX_IMAGE }} test-jax.sh -b gpu | tee test-gpu.log

      - name: Upload test logs
        uses: actions/upload-artifact@v2
        with:
          name: test-logs
          path: |
            test-backend-independent.log
            test-gpu.log