name: CI

on:
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:
    inputs:
      TRIAL_BRANCH:
        type: string
        required: false
        default: ''
        description: 'Branch that contains manifest and patches. Default is empty which uses GITHUB_SHA'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read  # to fetch code
  actions:  write # to cancel previous workflows
  packages: write # to upload container

jobs:

  metadata:
    runs-on: ubuntu-22.04
    outputs:
      TRIAL_BRANCH: ${{ steps.meta.outputs.TRIAL_BRANCH }}
    steps:
      - name: Set optional trial branch
        id: meta
        shell: bash -x -e {0}
        run: |
          if [[ -z "${{ inputs. TRIAL_BRANCH}}" ]]; then
            echo "TRIAL_BRANCH=${{ github.sha }}"
          else
            echo "TRIAL_BRANCH=${TRIAL_BRANCH}"
          fi | tee $GITHUB_OUTPUT

  amd64:
    needs: metadata
    uses: ./.github/workflows/_ci.yaml
    with:
      ARCHITECTURE: amd64
      TRIAL_BRANCH: ${{ needs.metadata.outputs.TRIAL_BRANCH }}
    secrets: inherit
 
  arm64:
    needs: metadata
    uses: ./.github/workflows/_ci.yaml
    with:
      ARCHITECTURE: arm64
      TRIAL_BRANCH: ${{ needs.metadata.outputs.TRIAL_BRANCH }}
    secrets: inherit

  finalize:
    needs: [amd64, arm64]
    if: always()
    uses: ./.github/workflows/_finalize.yaml
    with:
      PUBLISH_BADGE: false
    secrets: inherit
