name: JAX-vLLM offloading

on:
  workflow_call:
    inputs:
      JAX_VLLM_OFFLOADING_IMAGE:
        type: string
        description: MaxText image from ghcr.io/nvidia
        default: ghcr.io/nvidia/jax-toolbox-internal:19461214142-jio-amd64
        required: false
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
    paths:
      - 'jax-inference-offloading/**'
      - '.github/gke-workflow/jax-vllm-offloading/**'
      - '.github/workflows/jax-vllm-offloading/**'
      - '.github/workflows/jax-vllm-offloading.yml'

jobs:
  gke:
    steps:
      jax-vllm-offloading-transfer-gke-xpk:
      - uses: .github/workflows/jax-vllm-offloading/gke_transfer.yml
        # needs: build # .github/workflows/jio.yaml
        with:
        # JAX_VLLM_OFFLOADING_IMAGE: ${{ needs.build.outputs.DOCKER_TAG_FINAL }}
          JAX_VLLM_OFFLOADING_IMAGE: ghcr.io/nvidia/jax-toolbox-internal:19461214142-jio-amd64
        secrets: inherit
