name: Nightly Transformer Engine test

on:
  workflow_run:
    workflows: [Nightly Transformer Engine build]
    types: [completed]
    branches: [main]
  workflow_dispatch:
    inputs:
      JAX_TE_IMAGE:
        type: string
        description: 'JAX-TE image build by NVIDIA/JAX-Toolbox'
        required: true
        default: 'ghcr.io/nvidia/jax-te:latest'
      PUBLISH:
        type: boolean
        description: Update status badge?
        default: false
        required: true

permissions:
  contents: read  # to fetch code
  actions:  write # to cancel previous workflows
  packages: write # to upload container

env:
  DEFAULT_JAX_TE_IMAGE: 'ghcr.io/nvidia/jax-te:latest'
  BADGE_ENDPOINT: 'te-unit-test-status.json'

jobs:

  metadata:
    runs-on: ubuntu-22.04
    outputs:
      JAX_TE_IMAGE: ${{ steps.date.outputs.JAX_TE_IMAGE }}
    steps:
      - name: Set metadata
        id: date
        shell: bash -x -e {0}
        run: |
          if [[ -z "${{ inputs.JAX_TE_IMAGE }}" ]]; then
            JAX_TE_IMAGE=${{ env.DEFAULT_JAX_TE_IMAGE }}
          else
            JAX_TE_IMAGE=${{ inputs.JAX_TE_IMAGE }}
          fi
          echo "JAX_TE_IMAGE=${JAX_TE_IMAGE}" >> $GITHUB_OUTPUT

  run-jobs:
    needs: metadata
    uses: ./.github/workflows/_test_te.yaml
    if: (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') || github.event_name == 'workflow_dispatch'
    with:
      JAX_TE_IMAGE: ${{ needs.metadata.outputs.JAX_TE_IMAGE }}
    secrets: inherit

  publish:
    needs: [metadata, run-jobs]
    if: (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') || (github.event_name == 'workflow_dispatch' && inputs.PUBLISH)
    runs-on: ubuntu-22.04
    steps:
      - name: Download artifact from the previous job
        uses: actions/download-artifact@v3
        with:
          name: test-logs
          path: test-logs

      - name: Count the number of failed tests
        shell: bash -x -e {0}
        run: |
          all_outcomes() {
            jq -r '. | select(.["$report_type"] == "TestReport") | .outcome'
          }
          cnt_type() {
            jq '. | select((.["$report_type"] == "TestReport") and (.outcome | contains("'${1}'"))) | .outcome' | wc -l
          }
          SKIPPED_TESTS=$(cat test-logs/report.jsonl | cnt_type skipped)
          FAILED_TESTS=$(cat test-logs/report.jsonl | cnt_type failed)
          PASSED_TESTS=$(cat test-logs/report.jsonl | cnt_type passed)
          TOTAL_TESTS=$(cat test-logs/report.jsonl | all_outcomes | wc -l)
          echo "Unit test breakdown:"
          cat test-logs/report.jsonl | all_outcomes | sort | uniq -c
          if [[ $FAILED_TESTS -eq 0 ]]; then
            BADGE_COLOR=brightgreen
          else
            if [[ $PASSED_TESTS -eq 0 ]]; then
              BADGE_COLOR=red
            else
              BADGE_COLOR=yellow
            fi
          fi
          cat > ${{ env.BADGE_ENDPOINT }} << EOF
          {
            "schemaVersion": 1,
            "label": "V100 Unit",
            "message": "${PASSED_TESTS}/${SKIPPED_TESTS}/${FAILED_TESTS} pass/skip/fail",
            "color": "${BADGE_COLOR}"
          }
          EOF

      - name: Update status badge endpoint in gist
        uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.NVJAX_GIST_TOKEN }}
          script: |
            const fs = require('fs').promises;
            const gistId = "${{ vars.BADGE_ENDPOINT_GIST_ID }}";
            const filename = "${{ env.BADGE_ENDPOINT }}";
            const content = await fs.readFile(filename, 'utf8');

            const { data: gist } = await github.gists.get({ gist_id: gistId });

            await github.gists.update({
              gist_id: gistId,
              files: {
                [filename]: { content },
                ...Object.fromEntries(Object.entries(gist.files).filter(([name]) => name !== filename))
              }
            });

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: te-unit-test-status
          path: te-unit-test-status.json

  if-upstream-failed:
    runs-on: ubuntu-latest
    if: (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'failure') && github.event_name != 'workflow_dispatch'
    steps:
      - run: echo 'Upstream workflow failed, aborting run' && exit 1
