name: Weekly base container build

on:
  schedule:
    - cron: '30 13 * * 5'  # 5:30 AM every Friday
  workflow_dispatch:
    inputs:
      PUBLISH:
        type: boolean
        description: Publish dated images and update the 'latest' tag?
        default: false
        required: false

env:
  TARGET: jax-toolbox
  DOCKER_REGISTRY: ghcr.io/nvidia

permissions:
  contents: read  # to fetch code
  actions:  write # to cancel previous workflows
  packages: write # to upload container

jobs:

  metadata:
    runs-on: ubuntu-22.04
    outputs:
      BUILD_DATE: ${{ steps.date.outputs.BUILD_DATE }}
    steps:
      - name: Set build date
        id: date
        shell: bash -x -e {0}
        run: |
          BUILD_DATE=$(TZ='US/Los_Angeles' date '+%Y-%m-%d')
          echo "BUILD_DATE=${BUILD_DATE}" >> $GITHUB_OUTPUT

  build:
    needs: metadata
    uses: ./.github/workflows/_build_base.yaml
    with:
      BUILD_DATE: ${{ needs.metadata.outputs.BUILD_DATE }}
    secrets: inherit

  publish:
    if: github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && inputs.PUBLISH)
    needs: [metadata, build]
    uses: ./.github/workflows/_publish_nightly.yaml
    secrets: inherit
    with:
      SOURCE_IMAGE: ${{ needs.build.outputs.DOCKER_TAGS }}
      TARGET_IMAGE: jax-toolbox
      TARGET_TAGS: |
        type=raw,value=base,priority=1000
        type=raw,value=base-${{ needs.metadata.outputs.BUILD_DATE }},priority=900